/* 
	Marco Rodriguez
	Project 4
	07-26-12
	MIU 1207
*/	

/* jqm overrride css styles */
/* branding header logo */

.info {
	padding: 0;
	list-style:none;
	color: #999;
}
#dlink {
	font-size: 12px;
}
#elink {
	font-size: 12px;
}
.singlepage h2 {
		color: #6699cc;
		text-align: left;
}
.header h2 {
	color: #6699cc;
	text-align: left;
}
.ui-btn-up-c {
    border-top: 1px solid #ccc;
    background: linear-gradient(rgb(255, 255, 255), rgb(241, 241, 241)) repeat scroll 0% 0% rgb(238, 238, 238);
    font-weight: bold;
    color: #999;
    text-shadow: none;
}

#home .ui-mobile-viewport .ui-overlay-c {
	background-color:black !important;
}
input.placeholder{
	color:red;
}

label.error{
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #cc0000;
}
#gallery .ui-grid-b div{}

#gallery .ui-grid-b .ui-bar {
	margin: 5px;
	padding: 5px;
}
/* member styles*/
#ae .ui-grid-a .ui-bar {
	margin-right: 10px;
	padding: 8px;
	background-color: black;
}
#ae .ui-grid-a .ui-bar .ui-block-b {
	background-color: #000;
}
#fj .ui-grid-a .ui-bar {
	margin-right: 10px;
	padding: 8px;
}
#ko .ui-grid-a .ui-bar {
	margin-right: 10px;
	padding: 8px;
}
#pt .ui-grid-a .ui-bar {
	margin-right: 10px;
	padding: 8px;
}
#uz .ui-grid-a .ui-bar {
	margin-right: 10px;
	padding: 8px;
}

/*  ends */

#news img {
	padding: 10px;
}
#news_katech .newswin {
	color: #99ccff;
}
#news_camaros .newswin {
	color: #99ccff;
}
#news_caddy .newswin {
	color: #99ccff;
}
#news_gmc .newswin {
	color: #99ccff;
}
#news_gn .newswin {
	color: #99ccff;
}
#news .newswin {
	color: #336699;

}

/* overrrides the standard jqm icons with my own icons */
.ui-icon-gallery {
	background-image: url("gallery.png");
	background-color: none;
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
}
.ui-icon-members {
	background-image: url("members.png");
	background-color: none;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
}
.ui-icon-resources {
	background-image: url("resources.png");
	background-color: none;
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
}
.ui-icon-classifieds {
	background-image: url("classifieds.png");
	background-color: none;
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
}
.ui-icon-news {
	background-image: url("news.png");
	background-color: none;
    border: none;
    box-shadow: none;
    width: 20px;
    height: 20px;
    margin-top: -11px !important; /* adjust vertical position (top value is set to 50%) */
}